:root {
    --grid-column: 6;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    width: calc(100%/var(--grid-column));
    border: 1px solid;
    margin: 1px;
}

.column.md-1 {
    width: calc((100%/var(--grid-column))*1);
}

.column.md-2 {
    width: calc((100%/var(--grid-column))*2);
}

.column.md-3 {
    width: calc((100%/var(--grid-column))*3);
}

.column.md-4 {
    width: calc((100%/var(--grid-column))*4);
}

.column.md-5 {
    width: calc((100%/var(--grid-column))*5);
}

.column.md-6 {
    width: calc((100%/var(--grid-column))*6);
}

.column.offset-1 {
    margin-left: calc((100%/var(--grid-column))*1);
}

.column.offset-2 {
    margin-left: calc((100%/var(--grid-column))*2);
}

.column.offset-3 {
    margin-left: calc((100/var(--grid-column))*3);
}

.column.offset-4 {
    margin-left: calc((100/var(--grid-column))*4);
}

.column.offset-5 {
    margin-left: calc((100/var(--grid-column))*5);
}

.column.offset-6 {
    margin-left: calc((100/var(--grid-column))*6);
}

.justify-centered {
    justify-content: center;
}