body {
    background: $bg-overlay-color;
    font-family: Arial, Helvetica, sans-serif; 
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #111111;
}


.btn {
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    background: #aa052e;
    border: 1px solid #111;
    color: #fff;
    font-size: 14px;
    transition: .3s;
    &:hover {
        background: #CD0F40;
    }
}

.opacity-haft {
    opacity: .5;
}

.bg-white {
    background: #fff;
}